name: "Build Tchap Tauri App"

on:
  workflow_call:
    inputs:
      platform:
        required: true
        type: string
      releaseId:
        required: false
        type: string
      args:
        required: false
        type: string
      env:
        required: false
        type: string
        default: prod
      onPR:
        required: false
        type: boolean
        default: false
    secrets:
      TAURI_SIGNING_PRIVATE_KEY:
        required: true
      TAURI_SIGNING_PRIVATE_KEY_PASSWORD:
        required: true

jobs:
# Building the webapp
  build-webapp:
    uses: ./.github/workflows/build-webapp.yml
    with:
      platform: ${{ inputs.platform }}
      env: ${{ inputs.env }}

  build-rust:
    runs-on: ${{ inputs.platform }}
    needs: build-webapp
    steps:
      - uses: actions/checkout@v4

      # We need to empty the src directory because the build-webapp workflow will copy the webapp in it
      - name: Empty src directory
        shell: bash
        run: |
          rm -rf src
        if: inputs.platform != 'windows-latest'

      - name: Empty src directory (Windows)
        shell: cmd
        run: |
          if exist src rmdir /s /q src
        if: inputs.platform == 'windows-latest'

      # The result of the build-webapp workflow is an artifact that we need to download
      - name: Download webapp artifact
        uses: actions/download-artifact@v4
        with:
          name: webapp_${{ github.run_id }}_${{ inputs.env }}
          path: src/

      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable
        with:
          # Those targets are only used on macos runners so it's in an `if` to slightly speed up windows and linux builds.
          targets: ${{ inputs.platform == 'macos-latest' && 'aarch64-apple-darwin,x86_64-apple-darwin' || '' }}

      - name: Install SQLCipher for Windows
        if: inputs.platform == 'windows-latest'
        shell: cmd
        run: |
          dir .\src-tauri\
          if exist vcpkg rmdir /s /q vcpkg
          git clone https://github.com/microsoft/vcpkg
          cd vcpkg
          call .\bootstrap-vcpkg.bat -disableMetrics
          call .\vcpkg.exe install sqlcipher:x64-windows-static --clean-after-build
          call .\vcpkg.exe install sqlcipher:x64-windows --clean-after-build
          call .\vcpkg.exe integrate install
          echo VCPKG_ROOT=%CD%>>%GITHUB_ENV%
          echo "SQLCIPHER_USE_VCPKG=1">>%GITHUB_ENV%
          echo "VCPKGRS_DYNAMIC=1">>%GITHUB_ENV%
          echo VCPKG_DEFAULT_TRIPLET=x64-windows>>%GITHUB_ENV%
          echo "VCPKG_INSTALLED_DIR=%CD%\installed">>%GITHUB_ENV%
          echo "LIBCLANG_PATH=%CD%\installed\x64-windows\tools\libclang">>%GITHUB_ENV%
          echo "SQLCIPHER_LIB_DIR=%CD%\installed\x64-windows\lib">>%GITHUB_ENV%
          echo "SQLCIPHER_INCLUDE_DIR=%CD%\installed\x64-windows\include">>%GITHUB_ENV%
          dir installed\x64-windows\lib
          dir installed\x64-windows-static\lib
          .\vcpkg.exe list
          cd ..
          xcopy /y vcpkg\installed\x64-windows\bin\sqlcipher.dll .\src-tauri\
          xcopy /y vcpkg\installed\x64-windows\bin\libcrypto-3-x64.dll .\src-tauri\
          xcopy /y vcpkg\installed\x64-windows\bin\libssl-3-x64.dll .\src-tauri\
          xcopy /y vcpkg\installed\x64-windows\lib\sqlcipher.lib .\src-tauri\
          echo Listing copied files in src-tauri:
          dir .\src-tauri\
          echo Current directory contents:
          dir

      - name: Install dependencies for Linux
        if: inputs.platform == 'ubuntu-22.04'
        run: |
          sudo apt-get update
          echo "--- Installing linux dependencies"
          sudo apt-get install -y \
            libgtk-3-dev \
            libwebkit2gtk-4.1-0 \
            libwebkit2gtk-4.1-dev \
            libappindicator3-dev \
            librsvg2-dev \
            patchelf
          # SQLcipher is bundled in seshat
          #echo "--- Installing sqlcipher"
          #sudo apt install -y \
          #  sqlcipher \
          #  libsqlcipher-dev \
          #  libsqlcipher0
          echo "PKG_CONFIG_PATH=/usr/lib/pkgconfig:/usr/share/pkgconfig:/usr/lib/x86_64-linux-gnu/pkgconfig" >> $GITHUB_ENV
          echo "Finish installing deps"

      # SQLcipher is bundled in seshat
      # - name: Install SQLCipher for MacOS
      #   if: inputs.platform == 'macos-latest'
      #   run: |
      #     echo "--- Updating brew"
      #     brew upgrade
      #     echo "--- Installing sqlcipher"
      #     brew install sqlcipher
      #     echo "LIBRARY_PATH=$(brew --prefix sqlcipher)/lib" >> "$GITHUB_ENV"
      #   shell: bash

      # Uploading the tauri app to a release
      - name: create Tauri app artifacts
        if: inputs.platform != 'ubuntu-22.04'
        uses: tauri-apps/tauri-action@dev
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY }}
          TAURI_SIGNING_PRIVATE_KEY_PASSWORD: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY_PASSWORD }}
        with:
          releaseId: ${{ inputs.releaseId }}
          args: ${{ inputs.args }}
          uploadWorkflowArtifacts: ${{ inputs.onPR }}
 
      - name: create Tauri app for linux
        if: inputs.platform == 'ubuntu-22.04'
        uses: tauri-apps/tauri-action@dev
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY }}
          TAURI_SIGNING_PRIVATE_KEY_PASSWORD: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY_PASSWORD }}
          NO_STRIP: true
        with:
          releaseId: ${{ inputs.releaseId }}
          args: ${{ inputs.args }}
      
      - name: Create release asset name pattern for no updater version
        id: create-pattern-no-updater
        run: |
          PATTERN="[name]-[version]_[arch]_${{ inputs.env }}_no_updater[ext]"
          echo "PATTERN=$PATTERN" >> $GITHUB_OUTPUT
          echo "Generated pattern: $PATTERN"
        shell: bash

      - name: create Windows app without updater
        if: inputs.platform == 'windows-latest'
        uses: tauri-apps/tauri-action@dev
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY }}
          TAURI_SIGNING_PRIVATE_KEY_PASSWORD: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY_PASSWORD }}
        with:
          releaseId: ${{ inputs.releaseId }}
          args: --target x86_64-pc-windows-msvc --config src-tauri/tauri.conf.noupdater-windows.json --features no-updater
          releaseAssetNamePattern: ${{ steps.create-pattern-no-updater.outputs.PATTERN }}
          uploadWorkflowArtifacts: true
          workflowArtifactNamePattern: ${{ steps.create-pattern-no-updater.outputs.PATTERN }}
          uploadUpdaterJson: false

# Uploading the tauri app only as artifcats and not release 
      # - name: List build output
      #   run: |
      #     echo "Listing src-tauri/target/release structure:"
      #     ls -R src-tauri/target/ || true
      #   shell: bash

      # - name: Upload artifacts for windows
      #   if: inputs.onPR == true && inputs.platform == 'windows-latest'
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: tauri-app-${{ inputs.platform }}
      #     path: src-tauri/target/x86_64-pc-windows-msvc/release/bundle/msi/
      #     if-no-files-found: warn
      #     retention-days: 7
