name: "test-on-build"

on: [pull_request]

# This workflow will build your tauri app without uploading it anywhere.

jobs:
  build-tchap-desktop:
    strategy:
      fail-fast: true
      matrix:
        include:
          # - platform: "windows-latest"
          #   args: "--config src-tauri\\tauri.windows.conf.json"
          - platform: "macos-latest" # for Arm based macs (M1 and above).
            args: "--target aarch64-apple-darwin --config src-tauri/tauri.macos.conf.json"
          - platform: "macos-latest" # for Intel based macs.
            args: "--target x86_64-apple-darwin  --config src-tauri/tauri.macos.conf.json"
          # - platform: "ubuntu-22.04"
          #   args: ""
    uses: ./.github/workflows/build-tauri.yml
    with:
      platform: ${{ matrix.platform }}
      args : ${{ matrix.args }}
      env: prod
    secrets:
      TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY }}
      TAURI_SIGNING_PRIVATE_KEY_PASSWORD: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY_PASSWORD }}

  # build-tchap-desktop-dev:
  #   permissions:
  #     contents: write
  #   strategy:
  #     fail-fast: true
  #     matrix:
  #       include:
  #         # - platform: "windows-latest"
  #         # # this config will be merge with tauri.conf.json,
  #         # # it is neceessary for windows to automatically add the dll in the final build
  #         #   args: "--config src-tauri\\tauri.conf.dev.json"
  #         # - platform: "macos-latest" # for Arm based macs (M1 and above).
  #         #   args: "--target aarch64-apple-darwin --config src-tauri/tauri.conf.dev.json"
  #         # # TODO : debug because cc linking error for x86_64 mac 
  #         # # - platform: "macos-latest" # for Intel based macs.
  #         # #   args: "--target x86_64-apple-darwin"
  #         # - platform: "ubuntu-22.04"
  #         #   args: "--config src-tauri/tauri.conf.dev.json"
  #           - platform: "macos-latest" # for Intel based macs.      
  #             args: "--target x86_64-apple-darwin --config src-tauri/tauri.macos.conf.json"
  #   uses: ./.github/workflows/build-tauri.yml
  #   with:
  #     platform: ${{ matrix.platform }}
  #     args : ${{ matrix.args }}
  #     env: dev
  #   secrets:
  #     TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY }}
  #     TAURI_SIGNING_PRIVATE_KEY_PASSWORD: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY_PASSWORD }}